{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'portfolio/js/map.js'%}"></script>
<script type="text/javascript" src="{% static 'portfolio/js/imageHandler.js'%}"></script>
{% endblock %}

{% block content %}


<header>
  <div id="large-header" class="large-header">
      <canvas id="header-canvas"></canvas>
      <h1>wings to websites</h1>
      <div class="next-section">
        <i class="fa fa-chevron-circle-down more-info" id="next" aria-hidden="true"></i>
      </div>
  </div>  
</header>

<section class="about-me">
    <div class="container-fluid">
      <div class="about-content row vertical-align">
          <div class="col-md-6">
            <img class="about-img center-block" src="{% static 'portfolio/img/profile.png' %}" alt="A picture of Adam">
          </div>
          <div class="about-text col-md-6">
            <h3>
              Hello! My name is Adam.
            </h3>
            <p>
              I am a Technical project manager who has delivered award winning products for Google and Saatchi & Saatchi. An advocate of agile thinking and lover of efficiency and process. I also like to dabble in code, have a life long ambition to become a polymath and think Aquaponics will help solve the food crisis.
            </p>
            <p>
              Question is, how did I get here?
            </p>
          
        </div>
      </div>
    </div>
</section>

<section class="the-past">
  <div class="container-fluid">
    <div class="past-content row vertical-align">
        
          <picture class="aviation-img">
            <source media="(max-width:880px)" srcset="{% static 'portfolio/img/aviation.jpg' %}">
            <img src="{% static 'portfolio/img/aviation.png' %}" alt="Wright Brothers first flight">
          </picture>
        
      
    
        <div class="aviation-text">
          
            <h3>Adam the pilot</h3>
            <p>
              I started my career as a commercial pilot and have over 3000 hours on a Boeing 737-800. I learnt a lot about effective communication, leadership qualities and also that the devil is in the detail but you can't aford to lose sight of the bigger picture.
            </p>
            <p>
              After nearly five years when my contract came to an end I was at one of those forks in life. I decided to take the red pill and haven't looked back!
            </p>
        
        </div>
    </div>
  </div>
</section>

<section class="the-student">
  <div class="container-fluid">
    <div class="student-content row vertical-align">
      <div class="student-text">
        <h3>Adam the student</h3>
        <p>
          After leaving aviation I went back to University to study for a BSc in web development. We covered a whole range of topics from UX/HCI, JAVA, JS, PHP. We even did some Action Script! For my final disertation I focused on learning some Python / C++ and built a Raspberry Pi and Arduino powered <a href="http://crox.io" >Aquaponic system</a>.
        </p>
      </div>
      <picture class="student-img">
        <source media="(max-width:880px)" srcset="{% static 'portfolio/img/goldfish.jpg' %}">
        <img src="{% static 'portfolio/img/goldfish.png' %}" alt="Henry the goldfish">
      </picture>
    </div>
  </div>
</section>

<section class="the-pm">
  <div class="container">
    <div class="pm-content row vertical-align">
      
        <div class="col-md-6">
          <img class="pm-img" src="{% static 'portfolio/img/potato.png'%}">
        </div>
        <div class="col-md-6">
          <div class="pm-text">
            <h3>Adam the project manager</h3>
            <p>
              I have been working at <a href="https://p.ota.to">Potato</a> for three years now. Starting as a junior PM I was promoted after a year to technical project manager. I have worked on a wide range of projects from bespoke project managment tools to overseeing the overhaul of a major website that recieves millions of hits a day.
            </p>
          </div>
        </div>
      
    </div>
  </div>
</section>

<section class="the-awards">
    <div class="container">
      <div class="awards-content">
        <h3><i class="fa fa-star star" aria-hidden="true"></i>Award winning projects<i class="fa fa-star star" aria-hidden="true"></i></h3>
        <p>Websites need teams of people and these awards wouldn't have been won without the hard work from all invovled. It is nice to see something you have worked on being recognised though!</p>
      </div>
    
      <div class="card-container">
          <div class="card">
            <a target=_blank class="card-link" href="https://virtualart.chromeexperiments.com/">
            <div class="card-img">
              <img src="{% static 'portfolio/img/vas.png' %}" alt="Screenshot of virtual art sessions">
            </div>
            <div class="card-content">
              <h4>Virtual Art Sessions</h4>
              <p>A colaboration with multiple teams at Google the project was to create a web interface for some really cool digital Artwork created using Tilt Brush.</p>

              <div class="award-list">
                <a target=_blank href="https://thefwa.com/cases/virtual-art-sessions"><p><i class="fa fa-star star" aria-hidden="true"></i><em>FWA of the Day - 9 May 2016</em></p></a>
              </div>
            </div>
            </a>
          </div>
        
        
          <div class="card">
            <a class="card-link" target=_blank href="https://thevocaladventure.com/">
              <div class="card-img">
                <img src="{% static 'portfolio/img/vad.png' %}" alt="Screenshot of the vocal adventure">
              </div>
              <div class="card-content">
                <h4>The Vocal Adventure</h4>
                <p>A colaboration with Saatchi & Saatchi and VocalID. Using HTML5 speech recognition API users can narrate sections of a story as Goldivox tries to find a voice that will fit!</p>
                
                <div class="award-list">
                  
                  <a href="https://thefwa.com/cases/goldivox"><p><i class="fa fa-star star" aria-hidden="true"></i><em>FWA of the Day - 13 May 2016</em></p></a>
                  
                  <a href="https://thefwa.com/cases/goldivox"><p><i class="fa fa-star star" aria-hidden="true"></i><em>FWA Cutting edge award - 11 Jul 2016</em></p></a>

                </div>
              </div>
            </a>
          </div>
        
      </div>

    </div> <!-- End of container -->
</section>


<div id="map"></div>


<section class="contact-me" id="contact-me">
    <div class="container">
      <div class="contact-content">
        <h3>Want to know more about Adam?</h3>
        <p>I live in London so if you want to meet in person just get in touch and we can grab a coffee! Please download my CV for contact details or fill in the form below.</p>
        <div class="download-resume">
          <a href="{% static 'portfolio/adam_field_resume.pdf'%}" data-toggle="tooltip" title="Resume" data-placement="bottom" target="_blank" download>
            <h4>Download</h4>
            <i class="fa fa-download fa-2x"></i>
          </a>
        </div>
        
      </div>

      <div class="col-md-6 form-container">
        <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          <div>
            <label for="{{form.name_id}}">Name <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.name.errors}}</span>
          </div>
          
          <input type="{{form.name_id}}" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="{{form.phone_id}}">Phone </label>
          <input type="{{form.phone_id}}" name="phone" class="form-control">
        </div>

        <div class="form-group">
          <div>
            <label for="{{form.email_id}}">Email <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.email.errors}}</span>
          </div>
          
          <input type="{{form.email_id}}" name="email" class="form-control">
        </div>

        <div class="form-group">
          <div>
            <label for="{{form.description_id}}">Description <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.description.errors}}</span>
          </div>
          <textarea type="{{form.description_id}}" name="description" class="form-control" rows="5"></textarea>
        </div>

        <div class="form-group">
          <div class="g-recaptcha" data-sitekey="6LdvSSkUAAAAAJMWws8CX84aANwd74bu8VUIab3H"></div>
          {% if messages %}
              {% for message in messages %}
              <span class="error-span pull-right">{{ message }}</span>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
        <button class="btn send-btn" type="submit" value="Send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-6 detials-container">
        
        
      </div>
  </div>
</section>


<footer>
  <div class="footer-info">
    <p class="footer-content">Some other places I frequent...</p>
    <a href="https://github.com/afieldio" class="footer-link" data-toggle="tooltip" title="Github" data-placement="bottom" target="_blank"><p class="fa fa-github fa-2x"></p></a>
    <a href="https://www.linkedin.com/in/amfield1" class="footer-link" target="_blank" data-toggle="tooltip" title="Linkedin"><p class="fa fa-linkedin fa-2x"></p></a>
    <a href="https://twitter.com/afieldofdreams" class="footer-link" target="_blank" data-toggle="tooltip" title="Twitter"><p class="fa fa-twitter fa-2x"></p></a>
  </div>
</footer>

{% endblock %}

{% block endscript %}
    {% if form.errors %}
      <script type="text/javascript">
          var valid = {{form.is_valid|lower}};
          console.log(valid);
          if(valid == false){
              var section = document.getElementById("contact-me");
              section.scrollIntoView();
          }
      </script>
    {% endif %}

    <script>
      $(window).on("load, resize", function() {
       var viewportWidth = $(window).width();
        if (viewportWidth < 960) {
          $(".row").removeClass("vertical-align");
        } else if (viewportWidth >=960){
          $(".row").addClass("vertical-align");
        } else {
          $(".row").addClass("vertical-align");
        }
    }).resize();
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDijRub6S0OYO1MOUMuhhdhQmsFPgCqnDo&callback=initMap"
  type="text/javascript"></script>

    <script type="text/javascript">
          $(document).ready(function(){

              $("#next").click(function(){
                 $('html, body').animate({
                    scrollTop: $(".about-me").offset().top
                }, 750);
              });

              
          });
          
    </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>




{% endblock %}
