{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{% static 'portfolio/js/map.js'%}"></script>
<script type="text/javascript" src="{% static 'portfolio/js/imageHandler.js'%}"></script>
<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

{% endblock %}

{% block content %}


<header>
  <div id="large-header" class="large-header">
      <canvas id="header-canvas"></canvas>
      <h1>KUBE</h1>
      <h2>Task management for ground staff</h2>
      <div class="next-section">
        <i class="fa fa-chevron-circle-down more-info" id="next" aria-hidden="true"></i>
      </div>
  </div>  
</header>

<section class="the-past">
  <div class="container-fluid">
    <div class="past-content row vertical-align">
        <div class="col-md-3"></div>
        <div class="aviation-text col-md-6">
          
            <h3>Do more with less.</h3>
            <p>
              With airline passenger numbers doubling to 7.2Bn by 2035, the only way to meet this growing demand is by improving the efficiency of the existing services.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row support-info">
        <div class="col-md-4 info">
          <img src="{% static 'portfolio/img/stopwatch.png'%}">
          <p>The Average Delay is 11 minutes</p>
        </div>
        <div class="col-md-4 info">
          <img src="{% static 'portfolio/img/euro-sign.png'%}">
          <p>Each minute delay costs 72 Euro</p>
        </div>
        <div class="col-md-4 info">
          <img src="{% static 'portfolio/img/exclamation-triangle.png'%}">
          <p>27000 flights per day costs 21M Euro</p>
        </div>
    </div>
  </div>
</section>

<section class="the-demo">
    <div class="container-fluid">
      <div class="about-content row vertical-align">
          <div class="col-md-6">
            <iframe width="442" height="935" src="//invis.io/K6QWNJAFZUV" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="about-text col-md-6">
            <h3>
              Intelligent, reliable, real time data.
            </h3>
            <p>
              Kube reduces airport delays by using real time data to optimise ground handling services.
            </p>
            <p>
              If you can help out, please get in <a href="#contact-me">touch</a>.
            </p>
        </div>
      </div>
    </div>
</section>


<section class="the-student">
    <div class="container-fluid">
      <div class="row">
        <div class="airplane-1">
          <img src="{% static 'portfolio/img/airplane-1.png' %}">
        </div>
      </div>
      <div class="about-content row vertical-align">
          <div class="col-md-3"></div>
          <div class="about-text col-md-6">
            <h3>
              Next leg
            </h3>
            <p>
              We're currently on the look out for co-founders, advisors and our initial round of funding. We're excited to see this project really take off!
            </p>
            <p>
              If you would like to get involved or can help please get in <a href="#contact-me">touch</a>.
            </p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
</section>


<!-- <div id="map"></div> -->


<section class="contact-me" id="contact-me">
    <div class="container">
      <div class="contact">
        <h3>Want to know more about Kube?</h3>
        <p>Love to chat about this so please get in touch of you want to know more. Alternatively, download the pitch deck for more information.</p>
        <div class="download-pd">
          <a href="{% static 'portfolio/KUBE_Pitch_Deck.pdf'%}" data-toggle="tooltip" title="Resume" data-placement="bottom" target="_blank" download >
            <h4>Pitch Deck</h4>
            <i class="fa fa-download fa-2x"></i>
          </a>
        </div>
        
      </div>

      <div class="col-md-6 form-container">
        <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
          <div>
            <label for="{{form.name_id}}">Name <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.name.errors}}</span>
          </div>
          
          <input type="{{form.name_id}}" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="{{form.phone_id}}">Phone </label>
          <input type="{{form.phone_id}}" name="phone" class="form-control">
        </div>

        <div class="form-group">
          <div>
            <label for="{{form.email_id}}">Email <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.email.errors}}</span>
          </div>
          
          <input type="{{form.email_id}}" name="email" class="form-control">
        </div>

        <div class="form-group">
          <div>
            <label for="{{form.description_id}}">Description <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.description.errors}}</span>
          </div>
          <textarea type="{{form.description_id}}" name="description" class="form-control" rows="5"></textarea>
        </div>

        <div class="form-group">
          <div class="g-recaptcha" data-sitekey="6LdvSSkUAAAAAJMWws8CX84aANwd74bu8VUIab3H"></div>
          {% if messages %}
              {% for message in messages %}
              <span class="error-span pull-right">{{ message }}</span>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
        <button class="btn send-btn" type="submit" value="Send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </form>
      </div>

      <div class="col-md-6 detials-container">
        
        
      </div>
  </div>
</section>


<footer>
  <div class="footer-info">
    <p class="footer-content">More from the founder...</p>
    
    <a href="https://github.com/afieldio" class="footer-link" data-toggle="tooltip" title="Github" data-placement="bottom" target="_blank"><p class="fa fa-github fa-2x"></p></a>
    <a href="https://www.linkedin.com/in/amfield1" class="footer-link" target="_blank" data-toggle="tooltip" title="Linkedin"><p class="fa fa-linkedin fa-2x"></p></a>
    <a href="https://twitter.com/afieldofdreams" class="footer-link" target="_blank" data-toggle="tooltip" title="Twitter"><p class="fa fa-twitter fa-2x"></p></a>
    <p class="footer-content-copy">&copy; 2019</p>
  </div>
</footer>

{% endblock %}

{% block endscript %}
    {% if form.errors %}
      <script type="text/javascript">
          var valid = {{form.is_valid|lower}};
          console.log(valid);
          if(valid == false){
              var section = document.getElementById("contact-me");
              section.scrollIntoView();
          }
      </script>
    {% endif %}

    <script>
      $(window).on("load, resize", function() {
       var viewportWidth = $(window).width();
        if (viewportWidth < 960) {
          $(".row").removeClass("vertical-align");
        } else if (viewportWidth >=960){
          $(".row").addClass("vertical-align");
        } else {
          $(".row").addClass("vertical-align");
        }
    }).resize();
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDijRub6S0OYO1MOUMuhhdhQmsFPgCqnDo&callback=initMap"
  type="text/javascript"></script>

    <script type="text/javascript">
          $(document).ready(function(){

              $("#next").click(function(){
                 $('html, body').animate({
                    scrollTop: $(".the-past").offset().top
                }, 750);
              });

              
          });
          
    </script>

    <script src='https://www.google.com/recaptcha/api.js'></script>




{% endblock %}
