{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block content %}
<div class="header" id="header">
  <svg viewBox="0 0 800 600" class="svg-view">
    <symbol id="s-text">
      <text text-anchor="middle"
            x="50%"
            y="35%"
            class="text--line"
            >
        Adam
      </text>
      <text text-anchor="middle"
            x="50%"
            y="75%"
            class="text--line2"
            >
        Field
      </text>
    </symbol>
    <g class="g-ants">
      <use xlink:href="#s-text"
        class="text-copy"></use>     
      <use xlink:href="#s-text"
        class="text-copy"></use>     
      <use xlink:href="#s-text"
        class="text-copy"></use>     
      <use xlink:href="#s-text"
        class="text-copy"></use>     
      <use xlink:href="#s-text"
        class="text-copy"></use>     
    </g>
  </svg>
</div>

<div class="section-1">
  <div class="container">
    <h2><span class="header-span"></span>Who am I?<span class="header-span"></span></h2>
    <div class="col-md-6">
      <img class="img-responsive img-circle profile-img" src="{% static 'portfolio/img/adamfield_profile.JPG'%}">
    </div>
    <div class="col-md-6">
      <div class="card">
      <h3>Manager, Developer, Pilot</h3>
      <p>I am a Project Manager for Digital Agency called <a href="p.ota.to">Potato</a>. I recently went back to University after a career as a commercial pilot. I gained a first class degree in Web Development where we studied a range of languages and other web related skills. It is great to be a part of this industry - lots of creative, inspiring people and enough variety to keep me on my toes!</p>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="container">
    <h2><span class="header-span"></span>What do I do?<span class="header-span"></span></h2>
    <div class="col-md-4 section-block">
        <img class="center-block" src="{% static 'portfolio/img/design.jpg' %}">
        <h3>Design</h3>
        <p>I can help bring your idea to life. I aim to get a good understanding of the client and users needs to create a solution that is bespoke, engaging and enjoyable. </p>
    </div>
    <div class="col-md-4 section-block">
      
      <img class="center-block" src="{% static 'portfolio/img/screw_driver.jpg' %}">
      <h3>Develop</h3>
      <p>I am confident with the basics (HTML, CSS and JS) and have experience with backend frameworks like Django and Symphony2. I also enjoy playing with my RPi!</p>
      
    </div>
    <div class="col-md-4 section-block">
      
      <img class="center-block" src="{% static 'portfolio/img/deploy.jpg' %}">
      <h3>Deploy</h3>
      <p>This site is deployed on a DigialOcean droplet so I have an understanding of basic server configuration and setup (Nginx, Gunicorn, Supervisor). </p>
      
    </div>
  </div>
</div>

<div class="section-3">
  <div class="container">
    <h2><span class="header-span"></span>What drives me?<span class="header-span"></span></h2>
    <div class="col-md-4">
      <div class="drive-card">
        <h3>Challenge</h3>
        <p>I love a good challenge and there is nothing like the feeling of overcoming an obstacle. Neil Armstrong said, "I think we're going to the moon because it's in the nature of the human being to face challenges."</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drive-card">
      <h3>Learn</h3>
      <p>I think the greatest aim in life is to become a polymath! Going back to University at a later stage in life has given me a re-newed fascination with wanting to expand my knowledge base.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drive-card">
      <h3>Build</h3>
      <p>Seeing something transform from an idea into a working, living, breathing product is incredible to watch. Whether it be websites, houses or event backyard aquaponic systems I love to get my hands dirty.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-4" id="contact">
  <div class="container contact-container">
    <h2><span class="header-span"></span>Contact Me<span class="header-span"></span></h2>
    <div class="col-md-6">
      <h3 class="contact-h3">Fill in the form</h3>


      <form method="post">
      {% csrf_token %}
      
      <div class="form-group">
        <div>
          <label for="{{form.name_id}}">Name <p class="required">*</p></label>
          <span class="error-span pull-right">{{form.name.errors}}</span>
        </div>
        
        <input type="{{form.name_id}}" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="{{form.phone_id}}">Phone </label>
        <input type="{{form.phone_id}}" name="phone" class="form-control">
      </div>

      <div class="form-group">
        <div>
          <label for="{{form.email_id}}">Email <p class="required">*</p></label>
          <span class="error-span pull-right">{{form.email.errors}}</span>
        </div>
        
        <input type="{{form.email_id}}" name="email" class="form-control">
      </div>

        <div class="form-group">
          <div>
            <label for="{{form.description_id}}">Description <p class="required">*</p></label>
            <span class="error-span pull-right">{{form.description.errors}}</span>
          </div>
          <textarea type="{{form.description_id}}" name="description" class="form-control" rows="5"></textarea>
        </div>
      
      <button class="btn btn-default" type="submit" value="Send">Send</button>
      </form>
    </div>

    <div class="col-md-6">
      <h3 class="contact-h3">Find more here</h3>
      <div class="contact-info">
        <p class="phone">Phone: <phone>+44 (0) 7590 472355</phone></p>
        <a href="{% static 'portfolio/AdamField_CV.pdf'%}" data-toggle="tooltip" title="CV" data-placement="bottom" target="_blank" download><p class="fa fa-download fa-2x download-icon"></p></a>
        <a href="https://github.com/afieldio" data-toggle="tooltip" title="Github" data-placement="bottom" target="_blank"><p class="fa fa-github fa-2x download-icon"></p></a>
        <div id="map"></div>
      </div>
    </div>
    
  </div>
</div>

{% endblock %}

{% block endscript %}
    {% if form.errors %}
      <script type="text/javascript">
          var valid = {{form.is_valid|lower}};
          console.log(valid);
          if(valid == false){
              var section = document.getElementById("contact");
              section.scrollIntoView();
          }
      </script>
    {% endif %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
      function initMap() {

        var map;

        var myLatLng = {lat: 51.54732, lng: -0.11074};

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
          zoom: 15
        });

        marker = new google.maps.Marker({
          map: map,
          draggable: false,
          animation: google.maps.Animation.DROP,
          position: myLatLng,
          title: "I'm here!"

        });
        marker.addListener('click', toggleBounce);
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      window.onload=initMap();
    </script>






{% endblock %}
