/* Coolors Exported Palette - coolors.co/e7ecef-274c77-50514f-e16036-247ba0 */

/* RGB */
//white
$color1: rgba(248, 249, 250, 1);

$color2: #3B7A9C;

//grey
$color3: #706F6F;
$color4: rgba(254, 95, 85, 1);
$color5: rgba(36, 123, 160, 1);

