@import "normalize";
@import "palette";
@import "components";
@import "bootstrap";

header {
	width:100%;
	height:100vh;
	position:relative;
	top:0;
	left:0;
	background-color: $color1;
}

#header-canvas {
	width: 100%;
	z-index: -1;
}

section {
	min-height: 600px;
}

.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	text-align: center;

	h1 {
		font-family: 'Spectral', serif;
		color: $color2;
		padding-top: 35vh;
		font-size: 10em;
	}

	h2 {
		color: $color4;
		padding-bottom: 40px;
	}

	@media screen and (max-width: 960px) {

		h1 {
			font-size: 8em;
		}
	}


}

.next-section {
	text-align: center;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	
	i {
		color: $color2;
		font-size: 30px;
		cursor: pointer;
	}
	
	i:hover {
		color: $color4;
	}
}



.vertical-align {
    display: flex;
    align-items: center;
}

.the-demo {
	background-color: $color2;
	display: flex;
	align-items: center;
	height: 100%;

	.about-content {

		iframe {
			display: block;
			margin: 0px auto;
		}

		padding: 150px 0px;
		

		.about-text {

			padding-bottom: 150px;
			margin: 0px 50px 40px 0px;
			color: $color1;
		}

		.about-text h3 {
			padding-bottom: 20px;
			font-size: 5em;
		}

		.about-text p {

			font-size: 2em;


		}

		.about-text a {
			color: $color4;
		}

	}
}

.the-demo {
	@media screen and (max-width: 960px) {

		height: 100%;

		.about-content {
			padding: 0px;
		}

		.about-text {
			padding-bottom: 0px;
		}
	}


}



.the-past {
	background-color: $color4;
	height: 100%;
	row {
		text-align: center;
	}

	.airplane-1 {
		display:inline-block;
		margin: 40px auto;
		padding-top: 150px;
	}


	.aviation-text{
		color: $color1;
		
		h3 {
			padding-bottom: 80px;
			text-align: center;
			font-size: 5em;
		}

		p {
			
			font-size: 2em;
		}

		
	}

	.past-content {
		padding: 150px 0px;
	}

	.support-info {
		padding-bottom: 150px;
		width: 80%;
		display: block;
		margin: 0px auto;

		img {
			padding-bottom: 20px;
		}

		.info {
			text-align: center;
			color: $color1;
			font-size: 2em;
		}

	}

	
}

.the-past {
	@media screen and (max-width: 960px) { 
		height: 100%;

		.airplane-1 {
			display: block;
			height: 50%;
			padding: 0px;
			margin: 0px auto;

		}

		.airplane-1 img{
			display: block;
			width: 60%;
			margin: 100px auto 50px auto;
		}

		.aviation-text {
			display: block;
			padding-top: 20px;
			margin: 20px 20px 40px 20px;
		}

		.aviation-text h3 {
			font-size: 3em;
			text-align: center;
		}
	}
}





.the-student {
	background-color: $color4;
	height: 100%;
	row {
		text-align: center;
	}

	.airplane-1 {
		display:inline-block;
		margin: 40px auto;
		padding-top: 150px;
	}

	.about-content{
		padding-bottom: 150px;
	}

	.about-text {
		color: $color1;

		h3 {
			padding-bottom: 80px;
			text-align: center;
			font-size: 5em;
		}

		p {
			
			font-size: 2em;
		}
	}

	@media screen and (max-width: 960px) { 
		.student-img img{
			width: 100%;
			height: auto;
			float: right;
		}

		.student-text {
			display: block;
			padding-top: 20px;
			margin: 0px 20px 40px 20px;
		}

		.student-text h3 {
			
			text-align: center;
		}
	}
}


.contact-me {
	background-color: $color1;

	.contact {
		width: 80%;
		text-align: justify;
		margin: 20px auto;
		padding: 20px 0px 20px 0px;
		color: $color2;

		h3 {
			text-align: center;
			padding-bottom: 20px;
			font-size: 5em;
		}

		p {
			font-size: 2em;
		}



		.download-pd{
			text-align: center;
			padding-top: 20px;

			h4 {
				font-size: 2em;
			}
			
			a {
				text-decoration: none;
				color: $color2;
			}

			a:hover {
				color: $color4;
				-webkit-transition: color 0.2s ease-out;
				-moz-transition: color 0.2s ease-out;
				-o-transition: color 0.2s ease-out;
				transition: color 0.2s ease-out;
			}
		}
	}

	

	.form-container {
		float: none;
		margin: 0px auto;
		width: 80%;
	}

}
.contact-me{
	@media screen and (max-width: 960px) {
			.contact {
				width: 100%;
				padding: 20px 20px 0px 20px;
			}
	}
}
label{
	font-weight: 100;
	font-size: 1.2em;
	padding: 5px 0px;
	display: inline-block;
}

input, textarea{
	width: 100%;
	display: block;
}

form{
	padding-bottom: 60px;
}

.required{
	font-style: italic;
	font-size: 1em;
	color:#f24141;
	display: inline-block;
}

.error-span{
	display: inline-block;
	float: right;
	color: #f24141;
}

.send-btn {
	width: 40%;
	background-color: $color5;

	i {
		font-size: 2em;
		color: $color1;
		padding: 5px;
	}
}

.send-btn:hover {
	background-color: $color4;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.contact-h3{
	padding: 0px 0px 60px 0px;
}

.contact-p{
	text-align: center;
	padding-bottom: 20px 0px;
}

.contact-info{
	text-align: center;
}

.contact-info p{
	padding-bottom: 20px;

}

.contact-info a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: white;
	text-decoration: none;

}


.contact-container{
	padding-bottom: 40px;
}

.download-icon{
	margin-right: 20px;
}

.phone{
	text-align: center;
}

.contact-info a:hover{
	color: #db0606;
}


#map {
	width: 100%;
	height: 600px;
}

footer {
	height: 200px;
	background-color: $color5;

	text-align: center;

	.footer-info {
		padding-top: 75px;
		
		.footer-link {
			color: $color1;
			p { padding: 5px;}
		}

		.footer-link:hover {
			color: $color4;
			-webkit-transition: color 0.2s ease-out;
			-moz-transition: color 0.2s ease-out;
			-o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
		}

		.footer-content {
			color: $color1;
		}

		.footer-content-copy{
			color: $color1;
		}
	}

}



// 404 Page

#background {
		z-index: -10;
		border: 1px solid grey;
}

#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
.score {
	position: relative;
	float: right;
	color: #FF7F00;
	font-family: "Reenie Beanie";
	cursor: default;
	font-size: 50px;
}
.game-over {
	position: relative;
	width: 200px;
	margin: 0px auto;
	padding-top: 310px;
	color: #FF7F00;
	font-family: "Reenie Beanie";
	font-size: 30px;
	cursor: default;
	display: none;
}
.game-over button {
	margin: 0px auto;
	font-family: "Reenie Beanie";
	font-size: 20px;
	background-color: blue;
	cursor: pointer;
	position: relative;
	left: 50px;
}
.game-over button:hover {
	color: #FFD700;
}