@import "normalize";
@import "palette";
@import "components";
@import "bootstrap";

header {
	width:100%;
	height:100vh;
	position:relative;
	top:0;
	left:0;
	background-color: $color1;
}

#header-canvas {
	width: 100%;
	z-index: -1;
}

.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;

	h1 {
		text-align: center;
		color: $color2;
		padding-top: 35vh;
		font-size: 4em;
	}
}

.next-section {
	text-align: center;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	
	i {
		color: $color2;
		font-size: 30px;
		cursor: pointer;
	}
	
	i:hover {
		color: $color4;
	}
}



.vertical-align {
    display: flex;
    align-items: center;
}

.about-me {
	background-color: $color2;
	.about-content {
		
		.about-img {
			width: 50%;
			margin: 40px auto 30px auto;
			-webkit-mask-image: url(../img/polygon.svg), none;
			-o-mask-image: url(../img/polygon.svg), none;
			-moz-mask-image: url(../img/polygon.svg), none;
			mask-image: url(../img/polygon.svg), none;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-size: 100%;
			-o-mask-repeat: no-repeat;
			-o-mask-size: 100%;
			-moz-mask-repeat: no-repeat;
			-moz-mask-size: 100%;
		}


		.about-text {	
			margin: 0px 50px 40px 0px;
			color: $color1;
			text-align: justify;
			// padding: 0px 20px 20px 20px;
		}

		.about-text h3 {
			padding-bottom: 20px;
		}

		@media screen and (max-width: 960px) {
			.about-img {
				width: 60%;
				margin-bottom: 3rem;
			}

			.about-text {
				margin: 0px 20px 40px 20px;
			}

			.about-text h3 {
				text-align: center;
			}
		}
	}
}



.the-past {
	background-color: #f8f8f8;

		.aviation-img img{
			float: left;
		}

		.aviation-text{
			clear: both;
			margin: 0px 60px 0px 0px;
			text-align: justify;
			color: $color3;
			h3 {
				padding-bottom: 20px;
				text-align: left;
			}
		}

		@media screen and (max-width: 960px) { 
			.aviation-img img{
				width: 100%;
				float: left;
			}
			.aviation-text {
				display: block;
				padding-top: 20px;
				margin: 20px 20px 40px 20px;
			}

			.aviation-text h3 {
				
				text-align: center;
			}
		}

	
}



.the-student {
	background-color: $color4;

	.student-text {
		clear: both;
		text-align: justify;
		margin: 0px 0px 0px 60px;

		h3 {
			padding-bottom: 20px;
		}
	}

	.student-img img {
		height: auto;
		float: right;
	}

	@media screen and (max-width: 960px) { 
		.student-img img{
			width: 100%;
			height: auto;
			float: right;
		}

		.student-text {
			display: block;
			padding-top: 20px;
			margin: 0px 20px 40px 20px;
		}

		.student-text h3 {
			
			text-align: center;
		}
	}
}

.the-pm {
	background-color: #2c242e;

	.pm-content {
		color: #F0E8DE;
		text-align: justify;
		
		h3 {
			padding-bottom: 20px;
		}
	}

	.pm-img {
		display: block;
		width: 50%;
		margin: 0px auto;
	}

	@media screen and (max-width: 960px) { 
		.pm-text {
			margin: 0px 20px 40px 20px;

			h3 {
				text-align: center;
			}
		}
	}
}

.the-awards {
	background-color: #f8f8f8;

	.awards-content {
		width: 60%;
		text-align: justify;
		margin: 20px auto;
		padding: 20px 0px 20px 0px;
		color: $color2;

		h3 {
			text-align: center;
			padding-bottom: 20px;
		}

		i {
			padding: 0px 20px;
			-webkit-animation:spin 8s linear infinite;
			-moz-animation:spin 8s linear infinite;
			animation:spin 8s linear infinite;
		}
	}

	@media screen and (max-width: 960px) {
		.awards-content {
			width: 100%;
			padding: 20px;
		}
	}

	.card-container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;
	}

	.card {
		border: 1px solid gray;
		border-radius: 5px;
		flex: 0 1 calc(50% - 1em);
		background-color: #f8f8f8;

		.card-link {
			text-decoration: none;
			color: $color3;
		}

		.card-content {
			padding: 20px;

			h4 {
				border-bottom: 1px solid gray;
				padding-bottom: 10px;
			}

			.award-list {
				margin-top: 20px;
				i {
					padding-right: 20px;
				}
			}

			.award-list a:last-child {
				padding-bottom: 0px;
			}

		}

		.card-img img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 960px) { 
	.the-awards .card {
		flex: 0 0 calc(100% - 2em);
		margin-bottom: 20px;
	}

	.the-awards .card-container {
		flex-direction: column;
	}
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.contact-me {
	background-color: $color1;

	.contact-content {
		width: 60%;
		text-align: justify;
		margin: 20px auto;
		padding: 20px 0px 20px 0px;
		color: $color2;

		h3 {
			text-align: center;
			padding-bottom: 20px;
		}

		.download-resume {
			text-align: center;
			padding-top: 20px;
			
			a {
				text-decoration: none;
				color: $color2;
			}

			a:hover {
				color: $color4;
				-webkit-transition: color 0.2s ease-out;
				-moz-transition: color 0.2s ease-out;
				-o-transition: color 0.2s ease-out;
				transition: color 0.2s ease-out;
			}
		}
	}

	.form-container {
		float: none;
		margin: 0px auto;
	}

}

label{
	font-weight: 100;
	font-size: 1.2em;
	padding: 5px 0px;
	display: inline-block;
}

input, textarea{
	width: 100%;
	display: block;
}

form{
	padding-bottom: 60px;
}

.required{
	font-style: italic;
	font-size: 1em;
	color:#f24141;
	display: inline-block;
}

.error-span{
	display: inline-block;
	float: right;
	color: #f24141;
}

.send-btn {
	width: 40%;
	background-color: $color5;

	i {
		font-size: 2em;
		color: $color1;
		padding: 5px;
	}
}

.send-btn:hover {
	background-color: $color4;
	cursor: pointer;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.contact-h3{
	padding: 0px 0px 60px 0px;
}

.contact-p{
	text-align: center;
	padding-bottom: 20px 0px;
}

.contact-info{
	text-align: center;
}

.contact-info p{
	padding-bottom: 20px;

}

.contact-info a{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: white;
	text-decoration: none;

}


.contact-container{
	padding-bottom: 40px;
}

.download-icon{
	margin-right: 20px;
}

.phone{
	text-align: center;
}

.contact-info a:hover{
	color: #db0606;
}


#map {
	width: 100%;
	height: 600px;
}

footer {
	height: 200px;
	background-color: $color5;

	text-align: center;

	.footer-info {
		padding-top: 90px;
		
		.footer-link {
			color: $color1;
			p { padding: 5px;}
		}

		.footer-link:hover {
			color: $color4;
		}

		.footer-content {
			color: $color1;
		}
	}

}



// 404 Page

#background {
		z-index: -10;
		border: 1px solid grey;
}

#main {
	z-index: -1;
}
#ship {
	z-index: 0;
}
.score {
	position: relative;
	float: right;
	color: #FF7F00;
	font-family: "Reenie Beanie";
	cursor: default;
	font-size: 50px;
}
.game-over {
	position: relative;
	width: 200px;
	margin: 0px auto;
	padding-top: 310px;
	color: #FF7F00;
	font-family: "Reenie Beanie";
	font-size: 30px;
	cursor: default;
	display: none;
}
.game-over button {
	margin: 0px auto;
	font-family: "Reenie Beanie";
	font-size: 20px;
	background-color: blue;
	cursor: pointer;
	position: relative;
	left: 50px;
}
.game-over button:hover {
	color: #FFD700;
}